{% extends 'base_generic.html' %}
{% block content %}
<div style="display: flex; flex-direction: row; align-items: center">
        <h1>All Posts</h1>
    </div>

    {% if post_list %}
    <ul>
      {% for post in post_list %}
      <li>
          <p><a href="{{post.get_absolute_url}}">{{ post.title }}</a>
          <a style="padding: 0.2em; background: rgb(38,188,245); color: black; border-radius: 10%" href="{% url 'post-update' post.pk %}">Update Post</a>
          <a style="padding: 0.2em; background: rgb(238,66,66); color: black; border-radius: 10%" href="{% url 'post-delete' post.pk %}">Delete Post</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no blogs.</p>
    {% endif %}
{% endblock %}